<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="AnimeJs | <%=datav[0].title%>">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeJs | <%=datav[0].title%></title>
    <link rel="icon" href="<%=datav[0].img%>" type="image/gif" sizes="16x16">
    <meta property="og:image" content="<%=datav[0].img%>">
    <meta name="twitter:card" content="<%=datav[0].img%>">
    <meta name="description" content="Watch <%=datav[0].title%> Online For Free on VidCloudCms" />
    <meta name="theme-color" content="#2482d9" />
    
    <meta property="og:type" content="website" />


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
        .player{
            width: 100%;
            height: 90vh;
        }
        @media screen and (max-width: 967px) {
            .player{
                height: 37vh;
            }
        }
    </style>
</head>
 
    <body>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/">
                            <img src="https://cdn-icons-png.flaticon.com/128/3600/3600967.png" width="30px" alt="vidcloudcmslogo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Homepage</a></li>
                                <li><a href="/#tv1">Tv Series</a></li>
                                <li><a href="/#recent1">Recent</a></li>
                                <li><a href="/#cinema1">Cinema</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span id="amain"><%=tli%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <style>
                            iframe {
  border:solid rgba(255, 0, 0, 0);
}
/* .container {
	margin: 50px auto;
	max-width: 500px;
} */
                        </style>
                    <iframe id="player" src="<%=datav[0].link%>.replace('vidclouds.icu', 'vidembed.io')" class="player" allow="accelerometer; frameborder='0'; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    <!-- <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>Episode</h5>
                        </div> -->

<!--EPISODE //////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

                   

<!--EPISODE //////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="/"><img src="https://cdn-icons-png.flaticon.com/128/3600/3600967.png" width="50px" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="/">Homepage</a></li>
                            <li><a href="/#tv1">Tv Series</a></li>
                            <li><a href="/#recent1">Recent</a></li>
                            <li><a href="/#cinema1">Cinema</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/healer-op" target="_blank">Healer♏</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    
                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form" action="/search" method="get">
            <input type="text" name="s" placeholder="Search here.....">
            <button class="ti-search search-btn" type="submit"></button>
        </form>
    </div>
</div>
<!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>